In [1]:
import requests
import pandas as pd
import csv
import psycopg2

Extraction Layer

In [2]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/rankings/batsmen"

querystring = {"formatType":"test"}

headers = {
	"x-rapidapi-key": "793756ec10mshdd0621466d383f7p1c7776jsn6b46d7b54723",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

# save data into a json file

Extract_data = response.json()
print(Extract_data)

{'rank': [{'id': '8019', 'rank': '1', 'name': 'Joe Root', 'country': 'England', 'rating': '895', 'points': '895', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '351574', 'countryId': '9'}, {'id': '12201', 'rank': '2', 'name': 'Harry Brook', 'country': 'England', 'rating': '876', 'points': '876', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '244815', 'countryId': '9'}, {'id': '6326', 'rank': '3', 'name': 'Kane Williamson', 'country': 'New Zealand', 'rating': '867', 'points': '867', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '616418', 'countryId': '13'}, {'id': '13940', 'rank': '4', 'name': 'Yashasvi Jaiswal', 'country': 'India', 'rating': '847', 'points': '847', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '591942', 'countryId': '2'}, {'id': '2250', 'rank': '5', 'name': 'Steven Smith', 'country': 'Australia', 'rating': '823', 'difference': 4, 'points': '823', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '352448', 'countryId': '4'}, {'id': '8583', 'rank': '6', 'name': 'Temba Bavuma', 'country': 'South Africa', 'rating': '769', 'points': '769', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '591937', 'countryId': '11'}, {'id': '10940', 'rank': '7', 'name': 'Kamindu Mendis', 'country': 'Sri Lanka', 'rating': '761', 'points': '761', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '155713', 'countryId': '5'}, {'id': '8497', 'rank': '8', 'name': 'Travis Head', 'country': 'Australia', 'rating': '748', 'difference': -3, 'points': '748', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '332908', 'countryId': '4'}, {'id': '9812', 'rank': '9', 'name': 'Saud Shakeel', 'country': 'Pakistan', 'rating': '739', 'difference': -1, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '616442', 'countryId': '3'}, {'id': '10744', 'rank': '9', 'name': 'Rishabh Pant', 'country': 'India', 'rating': '739', 'difference': 1, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '616524', 'countryId': '2'}, {'id': '6635', 'rank': '9', 'name': 'Usman Khawaja', 'country': 'Australia', 'rating': '739', 'difference': 8, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '332905', 'countryId': '4'}, {'id': '10713', 'rank': '12', 'name': 'Daryl Mitchell', 'country': 'New Zealand', 'rating': '725', 'difference': -1, 'points': '725', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '616424', 'countryId': '13'}, {'id': '6245', 'rank': '13', 'name': 'Dinesh Chandimal', 'country': 'Sri Lanka', 'rating': '708', 'points': '708', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '582334', 'countryId': '5'}, {'id': '9468', 'rank': '14', 'name': 'Mohammad Rizwan', 'country': 'Pakistan', 'rating': '671', 'difference': 3, 'points': '671', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '616445', 'countryId': '3'}, {'id': '8502', 'rank': '15', 'name': 'Ben Duckett', 'country': 'England', 'rating': '669', 'points': '669', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '602103', 'countryId': '9'}], 'appIndex': {'seoTitle': 'ICC Cricket Rankings - Top 100 Batter | Cricbuzz.com', 'webURL': 'www.cricbuzz.com/cricket-stats/icc-rankings'}}

In [5]:
#Read data to csv
if response.status_code == 200:
    data = response.json().get('rank', [])  # Extracting the 'rank' data
    csv_filename = 'team_ranking.csv'

    if data:
        field_names = ['id','rank', 'name', 'rating', 'matches', 'points', 'lastUpdatedOn']  # Specify required field names

        # Write data to CSV file with only specified field names
        with open(csv_filename, 'w', newline='', encoding='utf-8') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=field_names)
            writer.writeheader()
            for entry in data:
                writer.writerow({field: entry.get(field) for field in field_names})

        print(f"Data fetched successfully and written to '{csv_filename}'")
    else:
        print("No data available from the API.")

else:
    print("Failed to fetch data:", response.status_code)


#print data into a json file
print(response.json())

Data fetched successfully and written to 'team_ranking.csv'
{'rank': [{'id': '8019', 'rank': '1', 'name': 'Joe Root', 'country': 'England', 'rating': '895', 'points': '895', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '351574', 'countryId': '9'}, {'id': '12201', 'rank': '2', 'name': 'Harry Brook', 'country': 'England', 'rating': '876', 'points': '876', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '244815', 'countryId': '9'}, {'id': '6326', 'rank': '3', 'name': 'Kane Williamson', 'country': 'New Zealand', 'rating': '867', 'points': '867', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '616418', 'countryId': '13'}, {'id': '13940', 'rank': '4', 'name': 'Yashasvi Jaiswal', 'country': 'India', 'rating': '847', 'points': '847', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '591942', 'countryId': '2'}, {'id': '2250', 'rank': '5', 'name': 'Steven Smith', 'country': 'Australia', 'rating': '823', 'difference': 4, 'points': '823', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '352448', 'countryId': '4'}, {'id': '8583', 'rank': '6', 'name': 'Temba Bavuma', 'country': 'South Africa', 'rating': '769', 'points': '769', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '591937', 'countryId': '11'}, {'id': '10940', 'rank': '7', 'name': 'Kamindu Mendis', 'country': 'Sri Lanka', 'rating': '761', 'points': '761', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '155713', 'countryId': '5'}, {'id': '8497', 'rank': '8', 'name': 'Travis Head', 'country': 'Australia', 'rating': '748', 'difference': -3, 'points': '748', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '332908', 'countryId': '4'}, {'id': '9812', 'rank': '9', 'name': 'Saud Shakeel', 'country': 'Pakistan', 'rating': '739', 'difference': -1, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '616442', 'countryId': '3'}, {'id': '10744', 'rank': '9', 'name': 'Rishabh Pant', 'country': 'India', 'rating': '739', 'difference': 1, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '616524', 'countryId': '2'}, {'id': '6635', 'rank': '9', 'name': 'Usman Khawaja', 'country': 'Australia', 'rating': '739', 'difference': 8, 'points': '739', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '332905', 'countryId': '4'}, {'id': '10713', 'rank': '12', 'name': 'Daryl Mitchell', 'country': 'New Zealand', 'rating': '725', 'difference': -1, 'points': '725', 'lastUpdatedOn': '2025-02-17', 'trend': 'Down', 'faceImageId': '616424', 'countryId': '13'}, {'id': '6245', 'rank': '13', 'name': 'Dinesh Chandimal', 'country': 'Sri Lanka', 'rating': '708', 'points': '708', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '582334', 'countryId': '5'}, {'id': '9468', 'rank': '14', 'name': 'Mohammad Rizwan', 'country': 'Pakistan', 'rating': '671', 'difference': 3, 'points': '671', 'lastUpdatedOn': '2025-02-17', 'trend': 'Up', 'faceImageId': '616445', 'countryId': '3'}, {'id': '8502', 'rank': '15', 'name': 'Ben Duckett', 'country': 'England', 'rating': '669', 'points': '669', 'lastUpdatedOn': '2025-02-17', 'trend': 'Flat', 'faceImageId': '602103', 'countryId': '9'}], 'appIndex': {'seoTitle': 'ICC Cricket Rankings - Top 100 Batter | Cricbuzz.com', 'webURL': 'www.cricbuzz.com/cricket-stats/icc-rankings'}}

In [ ]:
#Read into dataframe
df_read_team_ranking = pd.read_csv("team_ranking.csv")

df_read_team_ranking

       id  rank              name  rating  matches  points lastUpdatedOn
0    8019     1          Joe Root     895      NaN     895    2025-02-17
1   12201     2       Harry Brook     876      NaN     876    2025-02-17
2    6326     3   Kane Williamson     867      NaN     867    2025-02-17
3   13940     4  Yashasvi Jaiswal     847      NaN     847    2025-02-17
4    2250     5      Steven Smith     823      NaN     823    2025-02-17
5    8583     6      Temba Bavuma     769      NaN     769    2025-02-17
6   10940     7    Kamindu Mendis     761      NaN     761    2025-02-17
7    8497     8       Travis Head     748      NaN     748    2025-02-17
8    9812     9      Saud Shakeel     739      NaN     739    2025-02-17
9   10744     9      Rishabh Pant     739      NaN     739    2025-02-17
10   6635     9     Usman Khawaja     739      NaN     739    2025-02-17
11  10713    12    Daryl Mitchell     725      NaN     725    2025-02-17
12   6245    13  Dinesh Chandimal     708      NaN     708    2025-02-17
13   9468    14   Mohammad Rizwan     671      NaN     671    2025-02-17
14   8502    15       Ben Duckett     669      NaN     669    2025-02-17

In [7]:
df_read_team_ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15 non-null     int64
 1   rank           15 non-null     int64
 2   name           15 non-null     object
 3   rating         15 non-null     int64
 4   matches        0 non-null      float64
 5   points         15 non-null     int64
 6   lastUpdatedOn  15 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 972.0+ bytes

Transformation Layer

In [ ]:
# convert string to datetime

df_read_team_ranking ["lastUpdatedOn"] = pd.to_datetime(df_read_team_ranking["lastUpdatedOn"])

print (df_read_team_ranking)

       id  rank              name  rating  matches  points lastUpdatedOn
0    8019     1          Joe Root     895      NaN     895    2025-02-17
1   12201     2       Harry Brook     876      NaN     876    2025-02-17
2    6326     3   Kane Williamson     867      NaN     867    2025-02-17
3   13940     4  Yashasvi Jaiswal     847      NaN     847    2025-02-17
4    2250     5      Steven Smith     823      NaN     823    2025-02-17
5    8583     6      Temba Bavuma     769      NaN     769    2025-02-17
6   10940     7    Kamindu Mendis     761      NaN     761    2025-02-17
7    8497     8       Travis Head     748      NaN     748    2025-02-17
8    9812     9      Saud Shakeel     739      NaN     739    2025-02-17
9   10744     9      Rishabh Pant     739      NaN     739    2025-02-17
10   6635     9     Usman Khawaja     739      NaN     739    2025-02-17
11  10713    12    Daryl Mitchell     725      NaN     725    2025-02-17
12   6245    13  Dinesh Chandimal     708      NaN     708    2025-02-17
13   9468    14   Mohammad Rizwan     671      NaN     671    2025-02-17
14   8502    15       Ben Duckett     669      NaN     669    2025-02-17

In [11]:
df_read_team_ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15 non-null     int64
 1   rank           15 non-null     int64
 2   name           15 non-null     object
 3   rating         15 non-null     int64
 4   matches        0 non-null      float64
 5   points         15 non-null     int64
 6   lastUpdatedOn  15 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 972.0+ bytes

Loading Layer

In [9]:
# connect to database
import getpass

password =getpass.getpass("your_password:")
print ("password secured")

password secured

In [10]:
import psycopg2

conn = psycopg2.connect (
    
   host = "localhost",
   database = "Team_ranking",
   port = 5432,
   user = "postgres",
   password = password
)

In [11]:
## Rollback any previous failed transaction
conn.rollback()

# Create a new cursor
cursor = conn.cursor()

# Create a table 
create_table_query = """
CREATE TABLE IF NOT EXISTS team_ranking (
    id INT PRIMARY KEY,
    rank INT,
    name TEXT,    
    rating NUMERIC,
    matches NUMERIC,
    points NUMERIC,    
    lastUpdatedOn DATE
);
"""
cursor.execute(create_table_query)

conn.commit()

print("Table 'team_ranking' created successfully.")

# Close the cursor and connection
#cursor.close()
#conn.close()

Table 'team_ranking' created successfully.

In [ ]:
 

#Load data into the table created
conn.rollback()
# Path to your CSV file
csv_file = "team_ranking.csv"

# # Read CSV into a DataFrame
df_load = pd.read_csv(csv_file)

# Insert data into the table
for _, row in df_load.iterrows():
    cursor.execute(
        """
        INSERT INTO team_ranking (id, rank, name, rating, matches, points, lastUpdatedOn) 
        VALUES (%s, %s, %s,%s, %s, %s, %s)
        """, 
        (row['id'], row['rank'], row['name'], row['rating'], row['matches'], row['points'], row['lastUpdatedOn'] )
    )

conn.commit()

print("CSV file successfully loaded into PostgreSQL.")

# Close connections
cursor.close()
conn.close()

CSV file successfully loaded into PostgreSQL.